/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-big {
    max-width: 100%;
    margin: 0 auto;
}

.container-small {
    max-width: 900px;
    margin: 0 auto;
}

.tasto-principale a {
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #0260FF;
    padding: 7px 14px;

}

.tasto-no-background a {
    font-size: 12px;
    display: inline-block;
    color: black;
    text-decoration: none;
}

/* HEADER */

.menu-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.menu-nav nav ul li {
    display: inline;
}

.menu-nav nav ul li a {
    color: black;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.menu-nav img {
    width: 115px;
    padding: 10px;
    vertical-align: middle;
}

/* MAIN */

/* INIZIO JUMBOTRON */

#jumbotron .container {
    position: relative;
    height: 550px;
    margin-bottom: 50px;
}

.jumbotron-container {
    position: absolute;
    width: 100%;
    top: 50px;
}

#jumbotron {
    background-color:#B4D0E7;
    min-height: 550px;

}

.jumbotron-container h1 {
    font-size: 60px;
    font-weight: 900;
}

.jumbotron-text-image {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.jumbotron-text-image .jumbotron-text {
    width: 35%;
}

.jumbotron-text-image .jumbotron-text .tasto-principale {
    padding-bottom: 30px;    
}

.jumbotron-text-image .jumbotron-text p {
    padding-bottom: 20px;    
}

.jumbotron-text-image .jumbotron-image {
    width: 65%;
}

.jumbotron-text-image .jumbotron-image img{
    width: 100%;
}

.jumbotron-text-image i {
    margin-top: 50px;
}

/* FINE JUMBOTRON */

/* INIZIO SEZIONE 1 */

#sezione-1 .container-small {
    padding-top: 70px;
}

#sezione-1 .container-small h2 {
    margin-bottom: 40px;
}

#sezione-1 .container-small .radio-button * {
    font-size: 11px;
    padding-right: 40px;
    margin-bottom: 30px;
}

#piani {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

#piani > * {
    width: 30%;
    margin-bottom: 50px;
    border: 1px solid #E5E5E7;
}

#piani > *:last-child {
    width: 100%;
}

.padding-piano {
    padding: 20px;
}

#piani .label-piano {
    text-align: center;
    border-bottom: 1px solid #E5E5E7;
    padding: 10px;
}

#piani .costo {
    font-weight: bold; 
    padding: 10px 0;
    font-size: 12px;
}

#piani .info-piano * {
    padding: 5px 0;

}

#piani .info-costo {
    color: gray;
    font-size: 12px;
}

#piani .caratteristiche, .caratteristiche-2, .acquista-ora{
    font-size: 12px;
}

#piani .caratteristiche  {
    padding-top: 30px;
}

#piani .caratteristiche ul li {
    list-style: none;
    padding: 8px 0;
    text-align: left;
}

#piani .caratteristiche {
    min-height: 180px
}

#piani .tasto-principale, .acquista-ora {
    padding: 10px 0;
}

#piani hr {
    margin: 30px 0 ;
    width: 40px;
    border: 1px solid #E5E5E7;
}

#piani .caratteristiche-2 p {
    font-weight: bold;
}

#piani .caratteristiche-2 ul li {
    list-style: none;
    padding: 10px 0;
}

#piani .caratteristiche-2 ul li i {
    color: #0260FF;;
}

.piano-enterprise {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.piano-enterprise .sezione-grande {
    width: 65%;
}

.piano-enterprise .sezione-piccola {
    width: 35;
}

.piano-enterprise p {
    font-size: 12px;
}

/* FINE SEZIONE 1 */

/* DEBUG */


/* .debug .piano-enterprise .sezione-grande {
    background-color: aqua;
}

.debug .piano-enterprise .sezione-piccola {
    background-color: pink;
} */