/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-big {
    max-width: 100%;
    margin: 0 auto;
}

.container-small {
    max-width: 900px;
    margin: 0 auto;
}

.tasto-principale a {
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #0260FF;
    padding: 7px 14px;

}

.tasto-no-background a {
    font-size: 12px;
    display: inline-block;
    color: black;
    text-decoration: none;
}

/* HEADER */

.menu-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.menu-nav nav ul li {
    display: inline;
}

.menu-nav nav ul li a {
    color: black;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.menu-nav img {
    width: 115px;
    padding: 10px;
    vertical-align: middle;
}

/* MAIN */

#jumbotron .container {
    position: relative;
    height: 400px;
}

.jumbotron-container {
    position: absolute;
    width: 100%;
    top: 50px;
}

#jumbotron {
    background-color:#B4D0E7;
    min-height: 550px;

}

.jumbotron-container h1 {
    font-size: 60px;
    font-weight: 900;
}

.jumbotron-text-image {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.jumbotron-text-image .jumbotron-text {
    width: 35%;
}

.jumbotron-text-image .jumbotron-text .tasto-principale {
    padding-bottom: 30px;    
}

.jumbotron-text-image .jumbotron-text p {
    padding-bottom: 20px;    
}

.jumbotron-text-image .jumbotron-image {
    width: 65%;
}

.jumbotron-text-image .jumbotron-image img{
    width: 100%;
}

.jumbotron-text-image i {
    margin-top: 50px;
}

/* DEBUG */


